name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    
    steps:
    - uses: actions/checkout@v1


    # - name: install setuptools
    #   run: sudo apt install python-setuptools


    - name: make run_w_pillow
      # env:
      #   SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
      run: make run_w_pillow

    - name: Upload render artifact
      uses: actions/upload-artifact@v1
      with:
        name: render.png
        path: output/render.png






